# Prod database configuration for migrations
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
AUTH_SERVICE_DB_NAME=
CORE_SERVICE_DB_NAME=
EVENTS_SERVICE_DB_NAME=
ASSET_SERVICE_DB_NAME=
INVENTORY_SERVICE_DB_NAME=
SALES_CHANNEL_SERVICE_DB_NAME=
