# Container Registry Credentials
# The URL of your container registry (e.g., registry.example.com)
REGISTRY_URL=
# Your username for the container registry
REGISTRY_USER=

# Your password or access token for the container registry
REGISTRY_PASSWORD=


# Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
AUTH_SERVICE_DB_NAME=
CORE_SERVICE_DB_NAME=
EVENTS_SERVICE_DB_NAME=
ASSET_SERVICE_DB_NAME=
INVENTORY_SERVICE_DB_NAME=